{% extends "layouts/app_layout.html" %}

{% block title %}
    Products
{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'core:dashboard' %}">Dashboard</a></li>
    <li class="breadcrumb-item active">Products</li>
{% endblock %}

{% block page_content %}

    {% url 'products:product_create' as create_url %}

    {% include "components/page_header.html" with title="Products" subtitle="Manage products" button_text="Add Product" button_url=create_url %}

    {% include "components/search_filter_bar.html" %}

    <div class="card section-card">

        <table class="table align-middle">

            <thead>

            <tr>
                <th>Product</th>
                <th>Company</th>
                <th>Unit</th>
                <th>Selling Price</th>
                <th>Actions</th>
            </tr>

            </thead>

            <tbody>

            {% for product in products %}

                <tr>

                    <td>
                        {{ product.product_master.name }}
                    </td>

                    <td>
                        {{ product.company.name }}
                    </td>

                    <td>
                        {{ product.product_master.unit }}
                    </td>

                    <td>
                        ₹ {{ product.selling_price }}
                    </td>

                    <td>

                        <a
                                href="{% url 'products:product_detail' product.id %}"
                                class="btn btn-sm btn-light">
                            View
                        </a>

                        <a
                                href="{% url 'products:product_update' product.id %}"
                                class="btn btn-sm btn-primary">
                            Edit
                        </a>

                    </td>

                </tr>

            {% empty %}

                <tr>

                    <td colspan="5"
                        class="text-center text-secondary">

                        No products found.

                    </td>

                </tr>

            {% endfor %}

            </tbody>

        </table>

    </div>

{% endblock %}