{% extends "layouts/app_layout.html" %}
{% block title %}Sales Management{% endblock %}
{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'core:dashboard' %}">Dashboard</a></li>
    <li class="breadcrumb-item"><a href="#">Sales</a></li>
    <li class="breadcrumb-item active">New Sale</li>
{% endblock %}
{% block page_content %}
    <div class="card section-card">
        {% include "components/empty_state.html" with title="Sale Entry Module Coming Soon" message="This feature is currently under development." %}
    </div>
{% endblock %}