@font-face {
    font-family: "Inter";
    src: url("../../third_party/inter/v4.1/Inter-Regular.woff2");
    font-weight: 400;
}

@font-face {
    font-family: "Inter";
    src: url("../../third_party/inter/v4.1/Inter-Medium.woff2");
    font-weight: 500;
}

@font-face {
    font-family: "Inter";
    src: url("../../third_party/inter/v4.1/Inter-SemiBold.woff2");
    font-weight: 600;
}

@font-face {
    font-family: "Inter";
    src: url("../../third_party/inter/v4.1/Inter-Bold.woff2");
    font-weight: 700;
}

body {
    font-family: "Inter", sans-serif;
}